In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('timetest.csv')
df.head()

         Date  store  product  number_sold
0  2019-01-01      0        0          845
1  2019-01-02      0        0          851
2  2019-01-03      0        0          840
3  2019-01-04      0        0          842
4  2019-01-05      0        0          845

In [4]:
sample=df

In [5]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scale=MinMaxScaler()
sample['number_sold']=scale.fit_transform(np.array(sample['number_sold']).reshape(-1,1))

In [6]:
data=sample['number_sold'].values.reshape(-1,1)

In [7]:

train_size=int(len(data)*0.8)
train_data=data[:train_size]
test_data=data[train_size:]

In [8]:
train_X,train_y=[],[]
for i in range(len(train_data)-1):
    train_X.append(train_data[i])
    train_y.append(train_data[i+1])
train_X=np.array(train_X)
train_y=np.array(train_y)
train_X=np.reshape(train_X,(train_X.shape[0],1,train_X.shape[1]))

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense,SimpleRNN
model=Sequential()
model.add(SimpleRNN(50,activation='relu',input_shape=(1,1)))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')

In [16]:
model.fit(train_X,train_y,epochs=10,batch_size=1)

Epoch 1/10
20439/20439 [==============================] - 29s 1ms/step - loss: 0.0016
Epoch 2/10
20439/20439 [==============================] - 28s 1ms/step - loss: 5.1399e-04
Epoch 3/10
20439/20439 [==============================] - 27s 1ms/step - loss: 5.1089e-04
Epoch 4/10
20439/20439 [==============================] - 27s 1ms/step - loss: 5.1542e-04
Epoch 5/10
20439/20439 [==============================] - 27s 1ms/step - loss: 5.0654e-04
Epoch 6/10
20439/20439 [==============================] - 31s 2ms/step - loss: 5.0538e-04
Epoch 7/10
20439/20439 [==============================] - 28s 1ms/step - loss: 5.0358e-04
Epoch 8/10
20439/20439 [==============================] - 27s 1ms/step - loss: 4.9992e-04
Epoch 9/10
20439/20439 [==============================] - 23s 1ms/step - loss: 4.9478e-04
Epoch 10/10
20439/20439 [==============================] - 19s 929us/step - loss: 4.9624e-04

In [11]:
test_X,test_y=[],[]
for i in range(len(test_data)-1):
    test_X.append(test_data[i])
    test_y.append(test_data[i])
test_X=np.array(test_X)
test_y=np.array(test_y)
test_X=np.reshape(test_X,(test_X.shape[0],1,test_X.shape[1]))

In [12]:
test_X.shape

(5109, 1, 1)

In [17]:
predict=model.predict(test_X)

160/160 [==============================] - 0s 649us/step

In [18]:
ypred=scale.inverse_transform(predict)
ytest=scale.inverse_transform(test_y)
mape=np.mean(np.abs((ytest-ypred)/ytest))*100
mape

0.4104660154577838

# ******************

In [19]:
df1=pd.read_csv('timetest.csv')
df1.head()

         Date  store  product  number_sold
0  2019-01-01      0        0          845
1  2019-01-02      0        0          851
2  2019-01-03      0        0          840
3  2019-01-04      0        0          842
4  2019-01-05      0        0          845

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df1['number_sold']=scaler.fit_transform(np.array(df1['number_sold']).reshape(-1,1))

In [24]:
data=df1['number_sold'].values.reshape(-1,1)

In [25]:
train_size=int(len(data)*0.8)

In [26]:
train=data[:train_size]
test=data[train_size:]

In [27]:
train_X,train_y=[],[]
for i in range(len(train)-1):
    train_X.append(train[i])
    train_y.append(train[i+1])

In [28]:
train_X=np.array(train_X)
train_y=np.array(train_y)

In [29]:
train_X=np.reshape(train_X,(train_X.shape[0],1,train_X.shape[1]))

In [43]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense,Bidirectional
model=Sequential()
model.add(Bidirectional(LSTM(50,input_shape=(1,1))))
model.add(Dense(1))
model.compile(loss='mean_squared_error',optimizer='Adam')

In [45]:
model.fit(train_X,train_y,epochs=10,batch_size=1)

Epoch 1/10
20439/20439 [==============================] - 27s 1ms/step - loss: 0.0015
Epoch 2/10
20439/20439 [==============================] - 26s 1ms/step - loss: 5.3897e-04
Epoch 3/10
20439/20439 [==============================] - 25s 1ms/step - loss: 5.3193e-04
Epoch 4/10
20439/20439 [==============================] - 26s 1ms/step - loss: 5.2199e-04
Epoch 5/10
20439/20439 [==============================] - 25s 1ms/step - loss: 5.1999e-04
Epoch 6/10
20439/20439 [==============================] - 26s 1ms/step - loss: 5.0928e-04
Epoch 7/10
20439/20439 [==============================] - 25s 1ms/step - loss: 5.0451e-04
Epoch 8/10
20439/20439 [==============================] - 25s 1ms/step - loss: 5.0369e-04
Epoch 9/10
20439/20439 [==============================] - 25s 1ms/step - loss: 4.9965e-04
Epoch 10/10
20439/20439 [==============================] - 25s 1ms/step - loss: 4.9304e-04

In [33]:
test_X,test_y=[],[]
for i in range(len(test)-1):
    test_X.append(test[i])
    test_y.append(test[i+1])

In [34]:
test_X=np.array(test_X)
test_y=np.array(test_y)

In [36]:
test_X=np.reshape(test_X,(test_X.shape[0],1,test_X.shape[1]))

In [37]:
predict=model.predict(test_X)

160/160 [==============================] - 0s 732us/step

In [38]:
ypred=scaler.inverse_transform(predict)

In [39]:
ytest=scaler.inverse_transform(test_y)

In [40]:
np.mean(np.abs((ytest-ypred)/ytest))*100

1.715680122199325